<section class="blocks main__blocks">
	<h2 class="blocks__title">Ссылки на интересные статьи о пилатесе</h2>
		<section class="blocks__item">
			<h2 class="blocks__item-title">Частые вопросы</h2>
			<a href="" class="blocks__item-link">Нужен ли мне пилатес?</a>
			<a href="" class="blocks__item-link">С чего начать?</a>
			<a href="" class="blocks__item-link">Как часто заниматься?</a>
			<a href="" class="blocks__item-link">Сколько стоят тренировки в Киеве?</a>
		</section>
		<section class="blocks__item blocks__item--wide">
			<h2 class="blocks__item-title">Самые читаемые материалы</h2>
			<a href="" class="blocks__item-link">Главные принципы пилатеса</a>
			<a href="" class="blocks__item-link">Реальные пилатес отзывы из интернета</a>
			<a href="" class="blocks__item-link">Пилатес для чайников - 12 советов от профи</a>
			<a href="" class="blocks__item-link">Пилатес для похудения: когда это возможно?</a>
		</section>
</section>