<section class="blocks main__blocks">
	<h2 class="blocks__title">Ссылки на интересные статьи о пилатесе</h2>
		<section class="blocks__item">
			<h2 class="blocks__item-title">Частые вопросы</h2>
			<a href="what-is-pilates.html" class="blocks__item-link">Что такое пилатес?</a>
			<a href="do-i-need-pilates.html" class="blocks__item-link">Нужен ли мне пилатес?</a>
			<a href="what-to-expect.html" class="blocks__item-link">На что можно расчитывать?</a>
			<a href="stomack.html" class="blocks__item-link">Как похудеть с пилатесом?</a>
		</section>
		<section class="blocks__item blocks__item--wide">
			<h2 class="blocks__item-title">Самые читаемые материалы</h2>
			<a href="main-principles.html" class="blocks__item-link">Главные принципы пилатеса</a>
			<a href="bad-legs.html" class="blocks__item-link">Болят ноги? Безнадежных больных нет!</a>
			<a href="pilates-for-dummies.html" class="blocks__item-link">Пилатес для чайников - история создания</a>
			<a href="slim-programm.html" class="blocks__item-link">Пилатес для похудения: когда это возможно?</a>
		</section>
</section>