<footer class="footer">
	<div class="footer__wrapper">
		<p class="footer__contacts">
			<b class="footer__contacts-name">Ирина Олейниченко</b> Персональный тренер <span class="footer__contacts-nowrap">по методике Пилатес</span><br>
			<a href="tel: +380508173215" class="btn-inclined-lines"><span class="footer__contacts-hidden">Тел.:</span> +38 (050) 865-82-18</a>
		</p>
		<p class="footer__social">
			<span class="social">
				<a href="" class="social__link social__link--vk">ВКОНТАКТЕ</a>
				<a href="" class="social__link social__link--fb">Фейсбук</a>
				<a href="" class="social__link social__link--in">Youtube</a>
			</span>
		</p>
		<p class="footer__copyright">Разработано:
			<a href="" class="footer__copyright-link btn-inclined-lines">INDAY</a>
		</p>
	</div>
</footer>