mixin header(param)
	<header class="header">
		<div class="header__wrapper">
			- var h = "h2"
			- var href = "href='index.html'"
			if param == 0
				- h = "h1"
				- href = ""
			#{h}.header__logo
				<span class="header__title">Персональный тренер по пилатесу Ирина Олейниченко</span><a #{href} class="header__logo-img"><img src="img/logo.png" width="200" height="60" alt="Пилатес"></a>
			<nav class="header__nav main-nav main-nav--closed main-nav--nojs">
				<button type="button" class="hamburger"></button>
				<div class="main-nav__wrapper">
				- 
					var menulist = [
						{name: "Главная", link: "index.html"},
						{name: "О тренере", link: "trainer.html"},
						{name: "Услуги", link: "services.html"},
						{name: "SlimProgramm", link: "slim-programm.html"},
						{name: "Статьи", link: "previews.html"}
						];
				ul.menu-main.menu-main--header
					each item, index in menulist
						if index == param
							li.menu-main__item.menu-main__item--active
								a.menu-main__link= item.name
						else
							li.menu-main__item
								a(href=item.link).menu-main__link= item.name
				</div>
			</nav>
		</div>
	</header>

	