body {
  min-width: 320px; 
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 1.7; 
  font-weight: bold; 
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}

a {
  color: inherit;
}


img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/*Для проекта*/




