h1 Дипломы и сертификаты
<img class="documents__img" src="img/sert1.jpg">
<img class="documents__img" src="img/sert2.jpg">
<img class="documents__img" src="img/sert3.jpg">
<img class="documents__img" src="img/sert4.jpg">
<img class="documents__img" src="img/sert5.jpg">
<img class="documents__img" src="img/sert6.jpg">
<img class="documents__img" src="img/sert7.jpg">
<img class="documents__img" src="img/sert8.jpg">
