$form-border-color: $c-b-l;
$form-border-color-focus: $c-b-90;
$form-bg-color: $c-b-ssl;
$form-bg-color-hover: $c-b-90;
$form-bg-color-focus: #fff;
$form-bg-color-error: rgba(255, 182, 182, 0.4);

.form__item {
  margin-top: 0;
  margin-bottom: 20px;
}

.form__item label {
  @include font(15px, 20px);

  display: block;

  padding-left: 5px;
  margin-bottom: 10px;
}

.form__item input, 
.form__item textarea {
  display: block;
  box-sizing: border-box;
  
  width: 100%;
  padding: 10px 15px;

  border: 1px solid $form-border-color;

  @include font(14px, 20px, normal, $c-font-passive);

  background-color: $form-bg-color;

  outline: none;
  transition: background-color 0.2s;
}

.form__item--error input,
.form__item--error textarea {
  background-color: $form-bg-color-error;
}

.form__item input:hover,
.form__item textarea:hover {
  background-color: $form-bg-color-hover;
}

.form__item input:focus, 
.form__item textarea:focus {
  background-color: $form-bg-color-focus;
  border: 1px solid $form-border-color-focus;
}

.form__item input::-webkit-input-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}
.form__item input::-moz-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}
.form__item input:-moz-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}
.form__item input:-ms-input-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}

.form__item input:focus::-webkit-input-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}
.form__item input:focus::-moz-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}
.form__item input:focus:-moz-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}
.form__item input:focus:-ms-input-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}

.form__item textarea::-webkit-input-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}
.form__item textarea::-moz-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}
.form__item textarea:-moz-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}
.form__item textarea:-ms-input-placeholder {color: rgba(68, 68, 68, 0.4); text-indent: 0px;}

.form__item textarea:focus::-webkit-input-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}
.form__item textarea:focus::-moz-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}
.form__item textarea:focus:-moz-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}
.form__item textarea:focus:-ms-input-placeholder {color: rgba(68, 68, 68, 0); text-indent: 100px; transition: 0.5s ease;}

.form__item textarea {
 height: 100px;

 resize: none;
}

.form__btn {
  margin-top: 40px; 
  width: 200px;
}

@media #{$tablet-width} {
  .form__item {
    margin-bottom: 25px;
  }  

  .form__item label {
    @include font(15px, 20px);
    margin-bottom: 15px;
  }

  .form__name {
    float: left;
    width: 47%;
  }
  
  .form__phone {
    width: 47%;

    float: right;      

  }

  .form__email {
    width: 47%;

    float: right;      
  }

  .form__item textarea {
     height: 100px;
  }

  .form__btn {
    margin-top: 40px; 

    &--mt-big {
      margin-top: 135px;
    }
  }
}


















