.menu-main {
  @include reset-ul;
}

.menu-main__link {
  display: block;

  padding: 15px 20px;

  border-top: 1px solid $c-main-l;
  border-bottom: 1px solid $c-main-sd;

  @include font-accent(20px, 20px);
  text-decoration: none;

  background-color: $c-main;
}

.menu-main__link[href] {
  
  &:hover {
    background-color: $c-main-d;
    border-top-color: $c-main-d;
  }

  &:active {
    background-color: $c-main-sd;
    border-top-color: $c-main-sd;
    color: rgba(#000, 0.3);
  }
}

@media #{$tablet-width} {
  .menu-main {
    display: flex;
    justify-content: space-between;  
  }

  .menu-main--header {
  }

 .menu-main__item {
    margin-right: 3px;
  }

  .menu-main__item:last-child {
    margin-right: 0px;
  }

  .menu-main__link {
    @include btn;
    display: block;

    padding: 10px 15px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;

    @include font-accent(18px, 20px);

    &:hover {
      background: linear-gradient(0deg, $c-super-light, #fff);
      box-shadow: 2px 2px 3px $c-shadow;
    }

    &:active {
      color: $c-font-active;
    }
  }

  .menu-main__item--active .menu-main__link {
    background: linear-gradient(0deg, $c-super-light, #fff);      
    box-shadow: $menu-shadow;
  } 
}

@media #{$desktop-width} {
  .menu-main__link {
    @include font-accent(20px, 20px);
    padding: 15px 25px;
    padding-bottom: 12px;
  }
}

