.social {
	display: table;
	width: 100%;
}

.social__link {
	position: relative;

	display: table-cell;
	width: 33.33%;
	height: 100px;

	font-size: 0;

	border: 1px solid $c-b-sl;

  transition: border-color 0.2s,
							background-color 0.2s;

	&:before {
		@include pseudo;
		width: 40px;
		height: 40px;

		top: 30px;
		right: 0;
		left: 0;

		margin: auto;

		background-image: url(../img/social-sprite.png);
		background-repeat: no-repeat;
	}

	&--vk {
		&::before {
			background-position: 12px 0;
		}
	}

	&--fb {
		&::before {
			background-position: -36px 1px;
		}
	}

	&--in {
		&::before {
			background-position: -83px 0;
		}
	}

	&--tg {
		&::before {
			background-image: url(../img/telegram.png);
			background-size: contain;
		}
	}

	&:hover {
		border: 1px solid $c-b-n;

		&::before {
			filter: brightness(0%);
		}
	}

	&:active {
		border: 1px solid $c-b-l;

		&::before {
			filter: brightness(80%);
		}
	}
}

@media #{$desktop-width} {
	.social {
		width: auto;
		margin: 0 auto;

		border-spacing: 10px;
	}

	.social__link {
		width: 50px;
		height: 50px;

		&:before {
			width: 20px;
			height: 20px;

			top: 15px;

			background-size: auto 20px;
		}

		&--vk {
			&::before {
				background-position: 5px -1px;
			}
		}

		&--fb {
			&::before {
				background-position: -19px 0px;
			}
		}

		&--in {
			&::before {
				background-position: -42px -1px;
			}
		}
	}
}
