<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Болят ноги?</title>
	<meta name="description" content="">
	include partials/_page_head.pug
</head>
<body>
	include partials/_header.pug
	+header(4)
	<main class="main main--bg-pink">
		<div class="substrate">
			<article class="substrate__content article">
			include texts/_bad-legs.pug
			</article>
		</div>
	</main>
	include partials/_footer.pug
	include partials/_page_bottom.pug
</body>
</html>