<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="description" content="">
	include partials/_page_head.pug
</head>
<body>
include partials/_page_bottom.pug
</body>
</html>