<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Статьи о методике пилатес</title>
	<meta name="description" content="Пилатес в Киеве от одного из лучших тренеров Украины. Начните знакомство с pilates методикой под руководством профессионала">

	include partials/_page_head.pug
</head>
<body>
	include partials/_header.pug
	+header(4)
	<main class="main main--bg-pink">
		<div class="substrate">
			<article class="substrate__content previews">
				<h1 class="previews__title">Все о пилатесе – лучшие материалы Интернета в одном разделе</h1>
				include partials/_preview.pug
				-
					var previewsItem = [
						{title: "Что такое пилатес?", link: "what-is-pilates.html", photo: "img/exercise-legs-1x.png", text: "Что такое пилатес знать обязательно поскольку  сегодня он просто безумно популярен. Вдумайтесь, в США работает около 1600 студий, в Англии  более 500, в 2003 году в Москве появился Первый Институт Пилатеса"},
						{title: "Нужен ли мне пилатес?", photo: "img/exercise-hands-1x.png", link: "do-i-need-pilates.html", text: "Обычно новичку я предлагаю несколько вариантов упражнений, из которых он может выбрать то, что ему по силам на данный момент. К сложным упражнениям я подвожу постепенно, пока занимающийся не будет полностью уверен в том, что "},
						{title: "Болят ноги? Безнадежных больных нет!", photo: "img/exercise-knees-1x.png", link: "bad-legs.html", text: "Обычно люди начинают бежать в спортзал. Но тренажеры прокачивают поверхностные группы мышц, а мышечная система человеческого тела состоит не только из внешнего но также из внутреннего слоя. Поэтому"},
						{title: "На что можно расчитывать?", photo: "img/exercise-knees-1x.png", link: "what-to-expect.html", text: "Избавление от болей в спине. Укрепление «центральных» мышц туловища, изменение длины мышц, восстановление баланса, расслабление тела и выработка правильной осанки – все это, сочетаясь, делает данный метод чрезвычайно эффективным средством профилактики болезней спины"},
						{title: "Пилатес для чайников - история создания", photo: "img/exercise-legs-1x.png", link: "pilates-for-dummies.html", text: "В детстве он страдал астмой и рахитом. Но благодаря силе воли и желанию превозмочь недуги, мальчик начинает упорно тренироваться, и уже к 14 годам достигает невероятных результатов. Джозеф буквально создал тело атлета."},
						{title: "Пилатес для похудения: когда это возможно?", photo: "img/exercise-legs-1x.png", link: "slim-programm.html", text: "За 14 лет опыта персональных тренировок, я выработала методику, которая позволяет гарантировано добиться результата в, кажущейся многим, такой непосильной задаче по обретению стройной, подтянутой фигуры. "},
						{title: "Как похудеть с пилатесом?", photo: "img/exercise-knees-1x.png", link: "stomack.html", text: "Прежде чем начать работать с телом, принципиально важно понимать, что оно хочет быть упитанным не для того чтобы наказать вас или причинить боль. Организм накапливает жир только потому, что по какой-то причине считает, что это в ваших интересах."},
						{title: "Главные принципы пилатеса", photo: "img/exercise-up-1x.png", link: "main-principles.html", text: "Анатомический фундамент метода Пилатеса тесно связан с центром тяжести тела и, следовательно, осанкой. Восемь взаимосвязанных принципов, на которых этот метод строится, легко адаптируются к любому возрасту и типу тела. "}
						];
				each item in previewsItem
					+preview(item.title, item.link, item.photo, item.text)
				</article>
		</div>
	</main>
	include partials/_footer.pug
	include partials/_page_bottom.pug
</body>
</html>