<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Тренировки пилатесу индивидуально | Персональный тренер по пилатесу в Киеве</title>
	<meta name="description" content="Пилатес в Киеве от одного из лучших тренеров Украины. Начните знакомство с pilates методикой под руководством профессионала">
	include partials/_page_head.pug
</head>
<body>
	include partials/_header.pug
	+header(2)
	<main class="main">
		<section class="content">
			<div class="content__wrapper">
				<div class="content__quote">
					<blockquote class="blockquote">
						<p><span class="blockquote__quotes">Разница</span> между тем, <span class="blockquote__nowrap">кто ты есть,</span> и тем, <span class="blockquote__nowrap">кем ты хочешь быть</span> - это то, что ты делаешь.<span class="blockquote__nowrap"></span></p>
						<cite>Винс Ломбарди</cite>
					</blockquote>
				</div>
				<div class="grid">
					<div class="content__block content__block--center grid__block grid__block--mb-lg">
						<img src="img/exercise-knees-1x.png" alt="">
					</div>
					<div class="content__block grid__block">
						<p> Каждого из нас посещают мысли начать тренировки. Иногда даже мы действительно некоторое время тренируемся. Но приходят обстоятельства, мы останавливаемся и откладываем все "на потом". Через время к ним возвращаемся, но опять все "с нуля". Снова попытка и опять останавливаемся..</p>
						<p>Запомните, разорвать этот круг можно только, начав фиксировать свои результаты, постоянно пытаться их улучшить и непременно получать постоянную поддержку от наставника. Пилатес для начинающих имеет смысл только при участии опытного тренера</p>
					</div>
					<div class="content__block content__block--center grid__block grid__block--mb-lg">
						<img src="img/exercise-legs-1x.png" alt="">
					</div>
					<div class="content__block grid__block">
						<p>Стоимость персональной тренировки <i>400 грн</i> (60 мин). Приобретая абонемент на 8 занятий вы экономите 400 грн. Я уверяю вас, что 34 упражнения Джозефа Пилатеса, при должном усердии, способны сотворить чудо. Заказывайте первую тренировку!</p>
						<p><a href="feedback.htm" class="content__btn btn-inclined-lines btn-inclined-lines--white">Заказать тренировку</a></p>
					</div>
				</div>
			</div>
		</section>
		include partials/_blocks.pug		
	</main>
	include partials/_footer.pug
	include partials/_page_bottom.pug
</body>
</html>