<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Профессиональность | Персональный тренер по пилатесу в Киеве</title>
	<meta name="description" content="Пилатес в Киеве от одного из лучших тренеров Украины. Начните знакомство с pilates методикой под руководством профессионала">
	include partials/_page_head.pug
</head>
<body>
	include partials/_header.pug
	+header(1)
	<main class="main">
		<section class="content">
			<div class="content__wrapper">
				<div class="content__quote">
					<blockquote class="blockquote">
						<p><span class="blockquote__quotes">Иметь</span> обыкновение заниматься физическими упражнениями настолько важно, что соблюдая их постоянно, можно аннулировать вредное влияние неправильного питания</p>
						<cite>Рамбам, Мишнэ Тора, разд. Илхот Деот</cite>
					</blockquote>
				</div>
				<div class="grid">
					<div class="content__block content__block--center grid__block grid__block--mb-lg">
						<img src="img/exercise-knees-1x.png" alt="">
					</div>
					<div class="content__block grid__block">
						<p>В 2004 г. работая в офисе, когда в какой-то момент стало понятно, что из-за сидячей работы и неправильного питания начало страдать мое здоровье. Никакого другого варианта не оказалось, кроме как изменить свое ранее нейтральное отношение к спорту и пойти в фитнес-клуб. </p>
						<p>Вот тогда мне и попались на глаза занятия пилатесом и достаточно быстро заметные результаты в подтянутости, гибкости и прекрасном самочувствии, покорили полностью. За следующих два года, благодаря посещению семинаров в Украине, России и Америке (<a href="documents.html">дипломы и сертификаты</a>), простая увлеченность стала работой, которую я обожаю.</p>
					</div>
					<div class="content__block content__block--center grid__block grid__block--mb-lg">
						<img src="img/exercise-legs-1x.png" alt="">
					</div>
					<div class="content__block grid__block">
						<p>Именно результат полученный от занятий пилатесом придал мне уверенности, чтобы избежать кесарева сечения и именно пилатес позволяет мне растить здорового ребенка.</p>
						<p>Поверьте, пилатес способен в корне изменить вашу жизнь! Заказывайте первую тренировку и почувствуйте всю легкость и естественность этой методики!</p>
					</div>
				</div>
			</div>
		</section>
		include partials/_blocks.pug
	</main>
	include partials/_footer.pug
	include partials/_page_bottom.pug
</body>
</html>
